<%
  @messages = Message.find( :all, 
                            :conditions => ["created_on >= ?",1.week.ago], 
                            :order => 'updated_on DESC')
%>
<% if @messages and @messages.count > 0 %>
<h3>Messages Posted in the Last Week</h3>
<table class="list messages">		
	<thead>
	  <tr>
		  <th>Project</th>
  		<th>Subject</th>
  		<th>Author</th>
		</tr>
	</thead>
	<tbody>	
		<% @messages.each do |msg| %>
		<tr id="message-#{msg.id}" class="">
			<td class="project">
			  <%= link_to msg.project.name, :controller => 'project', :action => 'show', :id => msg.project.id %>
			</td>
			<td class="subject"><%= link_to msg.subject, "/boards/#{msg.board.id}/topics/#{msg.id}" %></td>
			<td class="author"><%= msg.author.name %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>