<h3>Messages Posted in the Last Week</h3>
<%
  @messages = Message.find(:all, :conditions => ["created_on >= ?",1.week.ago])
%>

<ul>
<% @messages.each do |msg| %>
  <li><%= link_to msg.subject, "/boards/#{msg.board.id}/topics/#{msg.id}" %></li>
<% end %>
</ul>